In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from datetime import datetime

# read in file with population data

In [3]:
data_file = "static/data/MSP_CSV_2012_2016.csv"
data_df=pd.read_csv(data_file)
data_df.head(10)

,layer,geography,City,Total population - Total Population - count,Total population - Total Population - margin,Total population - Total Population - share,Total population - Total Population - share margin,Gender and Age - Male - count,Gender and Age - Male - margin,Gender and Age - Male - share,...,"Assessed Value (Single Family Housing) (Excensus 2010) - Less than $200,000 - count","Assessed Value (Single Family Housing) (Excensus 2010) - Less than $200,000 - share","Assessed Value (Single Family Housing) (Excensus 2010) - $200,000 to $249,999 - count","Assessed Value (Single Family Housing) (Excensus 2010) - $200,000 to $249,999 - share","Assessed Value (Single Family Housing) (Excensus 2010) - $250,000 to $299,999 - count","Assessed Value (Single Family Housing) (Excensus 2010) - $250,000 to $299,999 - share","Assessed Value (Single Family Housing) (Excensus 2010) - $300,000 or more - count","Assessed Value (Single Family Housing) (Excensus 2010) - $300,000 or more - share",Total Households (Occupied Units) - Total Households (Occupied Units) - count,Total Households (Occupied Units) - Total Households (Occupied Units) - share
0,layer,geography,City,Total population - Total Population - count (2...,Total population - Total Population - margin (...,Total population - Total Population - share (2...,Total population - Total Population - share ma...,Gender and Age - Male - count (2012-2016 ACS),Gender and Age - Male - margin (2012-2016 ACS),Gender and Age - Male - share (2012-2016 ACS),...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Assessed Value (Single Family Housing) (Excens...,Total Households (Occupied Units) - Total Hous...,Total Households (Occupied Units) - Total Hous...
1,hood,Cedar Riverside,Minneapolis,8576,760,1,0.088619403,4302,646,0.501632463,...,22,0.594594595,6,0.162162162,4,0.108108108,5,0.135135135,2435,NaN
2,hood,St. Anthony Park,St. Paul,8194.283061,502.1427203,1,0.061279641,3991.705618,492.9314808,0.487132991,...,221,0.192676548,220,0.191804708,201,0.175239756,505,0.440278989,3018,NaN
3,hood,Phillips West,Minneapolis,5190,509,1,0.098073218,2523,341,0.486127168,...,107,0.930434783,5,0.043478261,1,0.008695652,2,0.017391304,1659,NaN
4,hood,Downtown West,Minneapolis,7357.130012,482.3747371,1,0.065565613,4370.326853,402.2564496,0.594026046,...,1,0.5,1,0.5,0,0,0,0,3008,NaN
5,hood,Downtown East,Minneapolis,1711.869988,123.1652491,1,0.071947782,959.673147,105.8967193,0.560599318,...,2,0.666666667,0,0,0,0,1,0.333333333,547,NaN
6,hood,Shingle Creek,Minneapolis,3226,375,1,0.116243025,1522,218,0.471791692,...,1058,0.994360902,6,0.005639098,0,0,0,0,1106,NaN
7,hood,Ventura Village,Minneapolis,6028,484.3160125,1,0.080344395,2990,304.0805814,0.49601858,...,158,0.908045977,14,0.08045977,1,0.005747126,1,0.005747126,1976,NaN
8,hood,Sumner- Glenwood,Minneapolis,1767.786116,176.5572233,1,0.099874765,795.3377111,123.9774859,0.449906074,...,18,0.782608696,3,0.130434783,2,0.086956522,0,0,618,NaN
9,hood,Lind- Bohanon,Minneapolis,5475,395,1,0.072146119,2650,281,0.484018265,...,1551,0.997427653,4,0.002572347,0,0,0,0,1697,NaN

# Select desired data, reduce to needed columns and rename for convenience

In [4]:
#neighborhood data
data_df=data_df[data_df["layer"]=='hood']

#minneapolis neighborhoods
data_df=data_df.loc[data_df["City"] =="Minneapolis"]    

#reduce columns and rename
pop_df=data_df[["geography","Total population - Total Population - count","Total population - Total Population - margin"]]  
pop_df.columns=["neighborhood","totalPop","margin"]

# Set neighborhood as index and fix name differences between data files

In [5]:
# sort and set index to neighborhood
pop_df=pop_df.sort_values("neighborhood")
pop_df=pop_df.set_index("neighborhood")

In [6]:
# convert to numeric
pop_df[["totalPop", "margin"]] = pop_df[["totalPop", "margin"]].apply(pd.to_numeric)
# convert to int
pop_df=pop_df.astype('int32')

In [10]:
pop_df.head()

              totalPop  margin
neighborhood
Armatage          4915     262
Audubon Park      5007     237
Bancroft          3513     231
Beltrami          1142     144
Bottineau         1618     170

In [15]:
pop_df=pop_df.rename({"Lind- Bohanon":"Lind - Bohanon", "Como (Minneapolis)":"Como"}, axis='index')
pop_df=pop_df.rename({"Cedar- Isles- Dean":"Cedar - Isles - Dean", "Bryn- Mawr":"Bryn - Mawr"}, axis='index')
pop_df=pop_df.rename({"Steven's Square- Loring Heights":"Steven's Square - Loring Heights", "Sumner- Glenwood":"Sumner - Glenwood"}, axis='index')
pop_df=pop_df.rename({"Mid- City Industrial":"Mid - City Industrial", "Nicollet Island- East Bank":"Nicollet Island - East Bank"}, axis='index')
pop_df=pop_df.rename({"Near North":"Near - North", "Prospect Park- East River Road":"Prospect Park - East River Road"}, axis='index')

pop_df.head()

              totalPop  margin
neighborhood
Armatage          4915     262
Audubon Park      5007     237
Bancroft          3513     231
Beltrami          1142     144
Bottineau         1618     170

In [16]:
pop_df.to_csv("static/data/population_data.csv", index=True,header=True)